/* 一般性的廣域設計宣告  */
html, body {
  overscroll-behavior: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.filler {
  flex-grow: 1;
}

button.no-border {
  border: none !important;
  cursor: pointer;
}

.no-float {
  float: none !important;
  margin: .6em .6em !important;
}

.left.aligned {
  text-align: left !important;
  margin-left: .6em;
}

.ui.avatar.image {
  width: 40px; /* 調整圖片寬度 */
  height: 40px; /* 調整圖片高度 */
  border-radius: 50%; /* 圓形圖片 */
  border: 2px solid #e9ecef; /* 添加邊框 */
}

.ui.menu a.item {
  font-weight: bold;
  color: #2c3e50;
}

// a.router-link-exact-active {
//   background-color: #ffc107 !important;
// }

a.router-link-exact-active {
  background-color: #ffc107 !important; /* 背景色 */
  color: #fff !important; /* 文字顏色 */
  border-radius: 5px; /* 圓角 */
  padding: 10px 15px; /* 增加內邊距 */
  font-weight: bold; /* 加粗文字 */
  text-decoration: none; /* 移除底線 */
  transition: all 0.3s ease; /* 添加過渡效果 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加陰影 */
}

a.router-link-exact-active:hover {
  background-color: #e0a800 !important; /* 懸停時的背景色變化 */
  transform: translateY(-2px); /* 懸停時使元素稍微上移 */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* 懸停時增加陰影深度 */
}

a.router-link-exact-active:active {
  background-color: #d99e00 !important; /* 點擊時的背景色變化 */
  transform: translateY(0); /* 點擊時恢復原來位置 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 點擊時縮小陰影 */
}



.invisible {
  color: transparent !important;
}

.highlightedText {
  background-color: yellow;
}

.red {
  color: red;
}

.gray {
  color: #c9c9c9;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}